.navigation {
  height: 30px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  margin-block: calc(var(--m-block-base) / 2);
}

.navigation__pagination {
  display: grid;
  place-items: center;
}
